# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
Icon[^M]

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Project files
archive/*
data/*
job_submission/logs/*
results/*
job_submission/job.sh
