# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
Icon[^M]

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Project files
nets_predict/archive/*
nets_predict/data/*
nets_predict/job_submission/logs/*
nets_predict/results/*
nets_predict/plots/*
nets_predict/job_submission/job.sh
nets_predict/tests/test_partial_correlations_integration.py
